<ul class="nav navbar-nav" id="navbar-holder">
	
			<li class="navLinks dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Me <span class="caret"></span></a>
		      <ul class="dropdown-menu">
		        
		        <li class="dropdown-header">Knird Info</li>
		        <li class="dropdown-link">Current Stock</li>
		     
		        
		        <li class="dropdown-header">My Activity</li>
		        <li class="dropdown-link">Orders</li>
		        <li class="dropdown-link">Ratings</li>
				
				<li class="dropdown-header">My Settings</li>
				<li class="dropdown-link">Account</li>
				
		      </ul>
		    </li>

				
</ul> 

